<svg version="1.1" x="0px" y="0px" viewBox="0 0 200 122" enable-background="new 0 0 200 122" xml:space="preserve" class="posting-guide-item-image">
    <g>
        <path fill="#F4F4F4" d="M53.5,121.1H19.9c-6.6,0-12-5.4-12-12v-8c0-6.6,5.4-12,12-12h33.6c6.6,0,12,5.4,12,12v8
            C65.5,115.7,60.1,121.1,53.5,121.1z"></path>
        <path fill="#FFFFFF" d="M53.7,115.3H42.6c-2.8,0-5-2.2-5-5v-6.5c0-2.8,2.2-5,5-5h11.1c2.8,0,5,2.2,5,5v6.5
            C58.7,113,56.5,115.3,53.7,115.3z"></path>
        <g>
            <g>
                <circle fill="#D7DBE3" cx="40.3" cy="103.1" r="0.9"></circle>
            </g>
            <g>
                <circle fill="#D7DBE3" cx="43.5" cy="103.1" r="0.9"></circle>
            </g>
            <g>
                <circle fill="#D7DBE3" cx="46.5" cy="103.1" r="0.9"></circle>
            </g>
            <g>
                <circle fill="#D7DBE3" cx="49.9" cy="103.1" r="0.9"></circle>
            </g>
            <g>
                <circle fill="#D7DBE3" cx="53.1" cy="103.1" r="0.9"></circle>
            </g>
            <g>
                <circle fill="#D7DBE3" cx="56.3" cy="103.1" r="0.9"></circle>
            </g>
            <g>
                <circle fill="#D7DBE3" cx="40.3" cy="106.2" r="0.9"></circle>
            </g>
            <g>
                <circle fill="#D7DBE3" cx="43.5" cy="106.2" r="0.9"></circle>
            </g>
            <g>
                <circle fill="#D7DBE3" cx="46.5" cy="106.2" r="0.9"></circle>
            </g>
            <g>
                <circle fill="#D7DBE3" cx="49.9" cy="106.2" r="0.9"></circle>
            </g>
            <g>
                <circle fill="#D7DBE3" cx="53.1" cy="106.2" r="0.9"></circle>
            </g>
            <g>
                <circle fill="#D7DBE3" cx="56.3" cy="106.2" r="0.9"></circle>
            </g>
            <g>
                <circle fill="#D7DBE3" cx="40.3" cy="109.4" r="0.9"></circle>
            </g>
            <g>
                <circle fill="#D7DBE3" cx="43.5" cy="109.4" r="0.9"></circle>
            </g>
            <g>
                <circle fill="#D7DBE3" cx="46.5" cy="109.4" r="0.9"></circle>
            </g>
            <g>
                <circle fill="#D7DBE3" cx="49.9" cy="109.4" r="0.9"></circle>
            </g>
            <g>
                <circle fill="#D7DBE3" cx="53.1" cy="109.4" r="0.9"></circle>
            </g>
            <g>
                <circle fill="#D7DBE3" cx="56.3" cy="109.4" r="0.9"></circle>
            </g>
            <g>
                <circle fill="#D7DBE3" cx="40.3" cy="112.5" r="0.9"></circle>
            </g>
            <g>
                <circle fill="#D7DBE3" cx="43.5" cy="112.5" r="0.9"></circle>
            </g>
            <g>
                <circle fill="#D7DBE3" cx="46.5" cy="112.5" r="0.9"></circle>
            </g>
            <g>
                <circle fill="#D7DBE3" cx="49.9" cy="112.5" r="0.9"></circle>
            </g>
            <g>
                <circle fill="#D7DBE3" cx="53.1" cy="112.5" r="0.9"></circle>
            </g>
            <g>
                <circle fill="#D7DBE3" cx="56.3" cy="112.5" r="0.9"></circle>
            </g>
        </g>
        <g>
            <rect x="72.7" y="119.8" fill="#F4F4F4" width="54.9" height="1.5"></rect>
        </g>
        <ellipse fill="#D7DBE3" cx="24" cy="105.1" rx="10.6" ry="10.6"></ellipse>
        <g>
            <polygon fill="#D7DBE3" points="72.7,119.8 78.5,118.9 121.7,118.9 127.6,119.8       "></polygon>
        </g>
        <g>
            <polygon fill="#D7DBE3" points="116.5,101.5 83.7,101.5 82.6,105.1 117.6,105.1       "></polygon>
        </g>
        <g>
            <polygon fill="#F4F4F4" points="82.6,105.1 78.5,118.9 95.9,118.9 104.3,118.9 121.7,118.9 117.6,105.1        "></polygon>
        </g>
        <g>
            <path fill="#EEEEEE" d="M183.4,96.4c0,2.8-2.3,5.1-5.1,5.1H21.7c-2.8,0-5.1-2.3-5.1-5.1V5.1c0-2.8,2.3-5.1,5.1-5.1h156.6
                c2.8,0,5.1,2.3,5.1,5.1V96.4z"></path>
        </g>
        <g>
            <circle fill="#FFFFFF" cx="100.1" cy="98.1" r="1.5"></circle>
        </g>
        <g>
            <rect x="23.2" y="6.8" fill="#99DAF3" width="153.9" height="87.9"></rect>
        </g>
        <path fill="#FFFFFF" d="M133.6,32.8h-67c-1.1,0-1.9-0.9-1.9-1.9v-3.2c0-1.1,0.9-1.9,1.9-1.9h67c1.1,0,1.9,0.9,1.9,1.9v3.2
            C135.5,31.9,134.7,32.8,133.6,32.8z"></path>
        <path fill="#EEEEEE" d="M133.6,21.3h-67c-1.1,0-1.9-0.9-1.9-1.9v-3.2c0-1.1,0.9-1.9,1.9-1.9h67c1.1,0,1.9,0.9,1.9,1.9v3.2
            C135.5,20.4,134.7,21.3,133.6,21.3z"></path>
        <path fill="#FFFFFF" d="M133.6,45.4h-67c-1.1,0-1.9-0.9-1.9-1.9v-3.2c0-1.1,0.9-1.9,1.9-1.9h67c1.1,0,1.9,0.9,1.9,1.9v3.2
            C135.5,44.5,134.7,45.4,133.6,45.4z"></path>
        <path fill="#EF5173" d="M115.8,88.8H84.2c-1.1,0-1.9-0.9-1.9-1.9v-3.2c0-1.1,0.9-1.9,1.9-1.9h31.6c1.1,0,1.9,0.9,1.9,1.9v3.2
            C117.7,88,116.9,88.8,115.8,88.8z"></path>
        <path fill="#FFFFFF" d="M133.6,78.1h-67c-1.1,0-1.9-0.9-1.9-1.9v-25c0-1.1,0.9-1.9,1.9-1.9h67c1.1,0,1.9,0.9,1.9,1.9v25
            C135.5,77.2,134.7,78.1,133.6,78.1z"></path>
        <g opacity="0.2">
            <polygon fill="#FFFFFF" points="23.1,94.7 176.9,94.7 176.9,6.8      "></polygon>
        </g>
        <rect y="121.2" fill="#CCCBCB" width="200" height="0.8"></rect>
        <path fill="#D7DBE3" d="M96.8,30.1H68.3c-0.4,0-0.8-0.4-0.8-0.8v0c0-0.4,0.4-0.8,0.8-0.8h28.5c0.4,0,0.8,0.4,0.8,0.8v0
            C97.6,29.7,97.2,30.1,96.8,30.1z"></path>
        <path fill="#D7DBE3" d="M96.8,42.7H68.3c-0.4,0-0.8-0.4-0.8-0.8v0c0-0.4,0.4-0.8,0.8-0.8h28.5c0.4,0,0.8,0.4,0.8,0.8v0
            C97.6,42.3,97.2,42.7,96.8,42.7z"></path>
        <path fill="#D7DBE3" d="M130.1,55.6H68.3c-0.4,0-0.8-0.4-0.8-0.8v0c0-0.4,0.4-0.8,0.8-0.8h61.8c0.4,0,0.8,0.4,0.8,0.8v0
            C130.9,55.2,130.5,55.6,130.1,55.6z"></path>
        <path fill="#D7DBE3" d="M130.1,60H68.3c-0.4,0-0.8-0.4-0.8-0.8v0c0-0.4,0.4-0.8,0.8-0.8h61.8c0.4,0,0.8,0.4,0.8,0.8v0
            C130.9,59.7,130.5,60,130.1,60z"></path>
        <path fill="#D7DBE3" d="M130.1,64.4H68.3c-0.4,0-0.8-0.4-0.8-0.8v0c0-0.4,0.4-0.8,0.8-0.8h61.8c0.4,0,0.8,0.4,0.8,0.8v0
            C130.9,64.1,130.5,64.4,130.1,64.4z"></path>
        <path fill="#D7DBE3" d="M96.7,68.9H68.3c-0.4,0-0.8-0.4-0.8-0.8v0c0-0.4,0.4-0.8,0.8-0.8h28.5c0.4,0,0.8,0.4,0.8,0.8v0
            C97.5,68.5,97.1,68.9,96.7,68.9z"></path>
        <path fill="#EEEEEE" d="M177,121.2h-18.1c-0.7,0-1.2-0.6-1.2-1.2l0,0c0-6.5,20.5-6.5,20.5,0l0,0C178.2,120.7,177.7,121.2,177,121.2
            z"></path>
    </g>
</svg>