@import "fonts";
@import "home";

body {
  font-family: "Myriad Set Pro", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, p {
  font-weight: 400;
}

#body-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -3em;
}
.footer, .push {
  height: 3em;
}

#cus-navbar {
  padding-top: 3px;
  padding-bottom: 6px;
  border-bottom: solid 1px #ccc;
  border-radius: 0px;
  margin-bottom: 0px;
  .cus-nav-nav {
    a {
      color: #575e6f;
      float: right !important;
    }

  }

  .navbar-header {
    float: left;
  }

  .cus-nav-btn {
    background-color: $main-blue;
    color: white;
  }

  .cus-nav-btn:hover {
    background-color: $hover-blue;
  }

}

footer {
  background-color: #0079AB;
  color: white;
  padding: 1em 0px;
  /*position: fixed;*/
}

@media (max-width: 768px) {
  .cus-nav-nav {
    margin: 7.5px -15px 0px;
  }
}