@import "bootstrap-sprockets";
@import "bootstrap";
@import "fonts";
@import "variables";
@import "shared";
@import "index";
@import "interest";
@import "registration";
@import "user_profile";
@import "tasks";
@import "bids";
@import "users";

body {
  font-family: "Myriad Set Pro", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 68px;
}

h1, h2, h3, h4, h5, p {
  font-weight: 400;
}

#cus-nav {
  background-color: white;
  margin-bottom: 0px;
  border-radius: 0px;
  padding: 2px 0;
  .navbar-brand img {
    position: relative;
    top: -5px;
    margin-right: 10px;
  }
  #bs-example-navbar-collapse-1 {
    & > ul > li > a {
      font-size: 15px;
    }
    #site-links {
      font-weight: 600;
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $dark-blue;
  color: white;
  padding: 1em 0px;
}

#flash-message {
  position: absolute;
  opacity: 0.9;
  width: 100%;
  text-align: center;
  border-radius: 0px 0px 5px 5px;
}

.nav-btn-wrapper {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

@media (max-width: 768px) {
  .cus-nav-nav {
    margin: 7.5px -15px 0px;
  }
}