@import "variables";

.cus-blue-btn {
  background-color: $main-blue;
  color: white;
  border: none;
  &:hover, &:focus, &:active {
    background-color: $hover-blue;
    color: white;
  }
}

.cus-success-btn {
  background-color: #6AC56A;
  color: white;
  border: none;
  &:hover, &:focus, &:active {
    background-color: darken(#6AC56A, 5%);
    color: white;
  }
}


.no-style-link a, a.no-style-link {
  color: white;
  text-decoration: none;
}
