// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tasks-index-page {
  .header {
    text-align: center;
    margin: 50px 0;
  }

  #task-table {
    tr {
      cursor: pointer;
    }
    td .location {
      margin-top: 5px;
      display: inline-block;
      background-color: rgb(231, 231, 231);
      padding: 3px 6px;
      font-size: 12px;
    }
  }
}


#tasks-show-page {
  .panel {
    .panel-heading {
      #left-info {
        width: 150px;
        background-color: white;
        padding: 5px 10px;
        border-radius: 4px;

        #budget {
          border-left: solid 1px gray;
        }
      }

      #right-info {
        #status {
          display: inline-block;
          background-color: white;
          padding: 10px 20px;
          border-radius: 4px;
          font-size: 19px;
          float: right;
          color: green;
        }
      }
    }
    .panel-body {
      #additional-info {
        font-size: 13px;
      }
      .divider {
        width: 200px;
        border-top: solid 1px gray;
        margin: 20px 0 15px;
      }
      #user-photo {
        float: left;
        margin-right: 20px;
        img, svg {
          padding: 2px;
          border-radius: 3px;
          box-shadow: 0 1px 1px rgba(0, 0, 0, .07);
          border: 1px solid #C7C7C7;
          width: 100%;
          max-width: 100px;
        }
        svg {
          fill: #C7C7C7;
          padding: 10px;
        }
      }
    }
  }

  .editing {
    float: right;
  }
}