
//************************* BROWSE TASK PAGE *******************//

#tasks-index-page, #tasks-search-page {
  .header {
    text-align: center;
    margin: 50px 0;
  }

  #task-table {
    tr {
      cursor: pointer;
    }
    td .location {
      margin-top: 5px;
      display: inline-block;
      background-color: rgb(231, 231, 231);
      padding: 3px 6px;
      font-size: 12px;
    }
    margin-bottom: 40px;
  }

  #task-search-form {
    margin-bottom: 37px;
    margin-top: -20px;
    #search-button {
      margin-left: 5px;
    }
  }


  #responsive-task-listing {
    .status {
      float: right;
    }
  }
}

@media (max-width: 768px) {
  #tasks-index-page, #tasks-search-page {
    #responsive-task-listing {
      display: block;
    }
    #task-table {
      display: none;
    }
  }
}

@media (min-width: 769px) {
  #tasks-index-page, #tasks-search-page {
    #responsive-task-listing {
      display: none;
    }
    #task-table {
      display: block;
    }
  }
}

//************************* TASK FORM *******************//

#task-form form {
  #task_subject_area_id, #task_subject {
    width: 200px;
  }
  #task_title {
    max-width: 500px;
  }
  #task_description {
    max-width: 500px;
  }
  #task_lower_price, #task_upper_price {
    width: 70px;
  }
  #price-to {
    width: 39px;
    border: none;
    box-shadow: none !important;
  }
  #task_location {
    max-width: 300px;
  }
  #submit-btn {
    margin: 20px 0 10px;
  }
  #file-upload-hint {
    font-size: 10px;
    color: gray;
    span {
      display: inline-block;
      background-color: rgb(238, 238, 238);
      padding: 2px;
    }
  }
}



//*********************** TASK SHOW PAGE ***************************//

#tasks-show-page, #bids-create-page, #bids-update-page {
  .panel {
    .panel-heading {
      #left-info {
        width: 180px;
        background-color: white;
        padding: 5px 10px;
        border-radius: 4px;

        #budget {
          border-left: solid 1px gray;
        }
      }

      #right-info {
        #status {
          display: inline-block;
          background-color: white;
          padding: 10px 20px;
          border-radius: 4px;
          font-size: 19px;
          float: right;
          color: green;
        }
      }
    }
    .panel-body {
      #additional-info {
        font-size: 13px;
        span.info-label {
          width: 111px;
          display: inline-block;
        }
      }
      .divider {
        width: 200px;
        border-top: solid 1px gray;
        margin: 20px 0 15px;
      }
      #student-photo {
        float: left;
        margin-right: 20px;
        min-width: 100px;
      }
      #documents {
        margin-top: 10px;
        #heading {
          font-weight: 600;
        }
      }
    }
  }

  .editing {
    text-align: right;
  }

  .bidding {
    #bidding-form {
      max-width: 600px;
      padding: 20px;
      border: solid 1px rgba(128, 128, 128, 0.46);
      border-radius: 8px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

      #cancel-button {
        margin-left: 50px;
      }
    }
  }

  .applications {
    margin: 40px 0 20px;
    #biddings-table {
      #bidding-delete-button {
        margin-top: 5px;
      }
      #bidder-name {
        font-weight: bold;
      }
      .action-buttons {
        text-align: right;
      }
      #accepted-bid {
        position: absolute;
        background-color: rgb(8, 132, 8);
        color: white;
        padding: 2px 14px;
      }
    }
  }

  #responsive-applications-list {
    margin-top: 20px;
    #price {
      margin: 10px 0;
    }
    #action-buttons {
      text-align: right;
    }
    #bidding-edit-button {
      margin-bottom: 5px;
    }
  }
}

.gray-out-page {
  color: gray !important;
  div {
    color: gray !important;
    #status {
      color: gray !important;
    }
  }
  a {
    color: gray !important;
  }
  img {
      filter: grayscale(100%); /* Current draft standard */
      -webkit-filter: grayscale(100%); /* New WebKit */
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */
      filter: url(resources.svg#desaturate); /* Gecko */
      filter: gray; /* IE */
      -webkit-filter: grayscale(1); /* Old WebKit */
  }
  svg {
    fill: gray !important;
  }
}

@media (max-width: 768px) {
  #tasks-show-page, #bids-create-page, #bids-update-page {
    #about-the-student {
      margin-top: 20px;
    }
    .applications {
      display: none;
    }
    #responsive-applications-list {
      display: block;
    }
  }
}

@media (min-width: 769px) {
  #tasks-show-page, #bids-create-page, #bids-update-page {
    .applications {
      display: block;
    }
    #responsive-applications-list {
      display: none;
    }
  }
}

//*********************** TASK EDIT PAGE ***************************//

#tasks-edit-page {
  padding-bottom: 35px;
}
