#users-show-page, #users-update-page, #users-visit-page {
  // height: 100%;
  // background-color: gray;
  #profile-page-body {
    margin: 50px 5%;
  }

  .basic-info .user-photo {
    img, svg {
      max-width: 300px;
      max-height: 300px;
      width: 100%;
    }
    #change-photo {
      // text-align: center;
    }
  }

  #user-info-panel {
    #user-name {
      margin-bottom: 20px;
      border-bottom: solid 1px rgb(168, 168, 168);
      h1 {
        margin-top: 0;
      }
    }
    #non-bio-info {
      margin-bottom: 15px;
    }
    .info-label {
      font-weight: 600;
      font-size: 16px;
    }
  }
  #edit-profile-btn {
    margin-top: 20px;
  }

  #task-table {
    tr {
      cursor: pointer;
    }
    td .location {
      margin-top: 5px;
      display: inline-block;
      background-color: rgb(231, 231, 231);
      padding: 3px 6px;
      font-size: 12px;
    }
  }

  .heading {
    margin: 50px 0 20px;
  }


  #your-seniors {
    .senior {
      display: inline-block;
      margin-right: 40px;
      #name {
        font-weight: 600;
      }
    }
  }

  #responsive-task-listing {
    .status-info {
      text-align: right;
    }
  }

}

@media (max-width: 768px) {
  #users-show-page, #users-update-page, #users-visit-page {
    #responsive-task-listing {
      display: block;
    }
    #task-table {
      display: none;
    }
    .user-photo {
      margin-top: 20px;
    }
  }
}

@media (min-width: 769px) {
  #users-show-page, #users-update-page, #users-visit-page {
    #responsive-task-listing {
      display: none;
    }
    #task-table {
      display: block;
    }
  }
}