#users-show-page, #users-update-page, #users-visit-page {
  // height: 100%;
  // background-color: gray;
  #profile-page-body {
    margin: 50px 5%;
  }
  .user-photo {
    img, svg {
      max-width: 300px;
      max-height: 300px;
    }
    #change-photo {
      // text-align: center;
    }
  }

  #user-info-panel {
    #user-name {
      margin-bottom: 20px;
      border-bottom: solid 1px rgb(168, 168, 168);
      h1 {
        margin-top: 0;
      }
    }
    #non-bio-info {
      margin-bottom: 15px;
    }
    .info-label {
      font-weight: 600;
      font-size: 16px;
    }
  }
  #edit-profile-btn {
    margin-top: 20px;
  }

  #task-table {
    tr {
      cursor: pointer;
    }
    td .location {
      margin-top: 5px;
      display: inline-block;
      background-color: rgb(231, 231, 231);
      padding: 3px 6px;
      font-size: 12px;
    }
  }
}