#users-show-page, #users-update-page {
  // height: 100%;
  // background-color: gray;
  #profile-page-body {
    margin: 50px 5%;
  }
  #user-info-panel {
    #user-name {
      margin-bottom: 20px;
    }
    #user-detail-field {
      font-size: 16px;
      p {
        margin: 0;
      }
      span#label {
        float: left;
        font-weight: 600;
        width: 100px;
      }
    }
  }
  #edit-profile {
    margin-top: 20px;
    margin-left: 30%;
  }

  #task-table {
    tr {
      cursor: pointer;
    }
    td .location {
      margin-top: 5px;
      display: inline-block;
      background-color: rgb(231, 231, 231);
      padding: 3px 6px;
      font-size: 12px;
    }
  }
}