// ****************** USER EDIT PAGE *************************//
#users-edit-page, #users-update-page {
  padding: 30px 0;
  #profile_school_id, #profile_city_id, #profile_phone {
    max-width: 200px;
  }
  #profile_description {
    max-width: 500px;
  }
  #cancel-btn {
    margin-left: 20px;
  }
}